/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /*primary colors*/
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orange-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);
  /* primary colors faded */
  --clr-light-red-faded: hsla(0, 100%, 67%, 0.15);
  --clr-orange-yellow-faded: hsla(39, 100%, 56%, 0.15);
  --clr-green-teal-faded: hsla(166, 100%, 37%, 0.15);
  --clr-cobalt-blue-faded: hsla(234, 85%, 45%, 0.15);
  /* gradients background */
  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: hsl(241, 81%, 54%);
  /* gradients circle */
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-dark-gray-blue-faded: hsla(224, 30%, 27%, 0.6);
  /* other */
  --ff-primary: "Urbanist", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 18px;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.main {
  background: var(--clr-white);
}

/*
=============== 
Result
===============
*/
.section-center {
  width: 100vw;
  min-height: 100vh;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    place-items: center;
  }
}
.result-container {
  background: linear-gradient(
    to bottom,
    var(--clr-light-slate-blue),
    var(--clr-light-royal-blue)
  );
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: grid;
  justify-items: center;
  padding: 1rem;
  text-align: center;
}
.result-container p {
  max-width: 20rem;
}
.result-score h1,
.result-comment h3 {
  color: var(--clr-white);
}
.result-container h4,
.result-score h4,
.result-comment p {
  color: var(--clr-light-lavender);
}
.result-score {
  margin: 1rem 0;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(
    to bottom,
    var(--clr-violet-blue),
    var(--clr-persian-blue)
  );
  border-radius: 50%;
  position: relative;
}
.result-score h1,
.result-score h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.result-score h1 {
  top: 2rem;
  font-size: 4rem;
}
.result-score h4 {
  top: 7rem;
}

/*
=============== 
Summary
===============
*/
.tile-img {
  width: 1.3rem;
  height: 1.3rem;
}
.summary-container {
  padding: 1rem 2rem;
  display: grid;
}
.summary-tile p,
.summary-title h2 {
  margin-bottom: 0;
}
.summary-container h3 {
  margin-bottom: 1rem;
}
.summary-tile,
.summary-title {
  display: flex;
  align-items: center;
}
.summary-tile {
  justify-content: space-between;
  margin-bottom: 1rem;
}
.summary-title p {
  padding-left: 1rem;
  font-weight: 500;
}
.summary-tile {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.tile-1 {
  background: var(--clr-light-red-faded);
  color: var(--clr-light-red);
}
.tile-2 {
  background: var(--clr-orange-yellow-faded);
  color: var(--clr-orange-yellow);
}
.tile-3 {
  background: var(--clr-green-teal-faded);
  color: var(--clr-green-teal);
}
.tile-4 {
  background: var(--clr-cobalt-blue-faded);
  color: var(--clr-cobalt-blue);
}
.summary-tile p:not(.summary-title p) {
  color: var(--clr-dark-gray-blue-faded);
  font-weight: 600;
}
.score {
  color: var(--clr-dark-gray-blue);
}

.summary-btn {
  cursor: pointer;
  color: white;
  background: var(--clr-dark-gray-blue);
  padding: 1rem 0;
  border: transparent;
  font-size: 1.5rem;
  transition: var(--transition);
  border-radius: 2rem;
}
.summary-btn:hover {
  background: linear-gradient(
    to top,
    var(--clr-light-royal-blue),
    var(--clr-light-slate-blue)
  );
}

/*
=============== 
Card
===============
*/
@media screen and (min-width: 992px) {
  .card {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 60vw;
    max-width: 800px;
    margin: 0 auto;
  }
  .result-container {
    border-radius: 1rem;
  }
  .summary-btn {
    font-size: 1rem;
  }
  .result-container p {
    max-width: 15rem;
  }
}
